/* main */

html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
    /* background-image: url("img/background.jpg"); */
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 8.5% 29% 54% 8.5%;
    grid-template-rows: 8% 16% 30% 30% 16%;
    width: 65vw;
    height: 65vh;
}

.page {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 1% 15% 83% 1%;
    width: 75vw;
    height: 75vh;
}

.left {
    background-color: rgb(243, 235, 126);
    margin: 5px;
    /* max-width: 50%; */
    flex: 1;
    display: inline-grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 15% 15% 15% 15% 15% 15%;
    flex-direction: column;
    justify-content: center;
    grid-column: 2;
    grid-row: 2/4;
    height: 52vh;
    border-radius: 1rem;
    /* width: 250px; */
    padding: 5px;
    /* margin: 20px; */
}

.right {
    background-color:rgb(187, 203, 249);
    margin: 5px;
    
    display: flex;
    justify-content: center;
    grid-column: 3;
    grid-row: 3/5;
    font-size: 20px;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}



.bio {
    vertical-align: top ;
    font-size: .85vw;
    background-color: #eae2f7;
    justify-content: center;
    padding: 1.3rem;
    border-radius: 1rem;
    margin: .6rem;
    word-wrap:break-word
}

.nav-bar {
    grid-column: 3/4;
    grid-row: 2;
    align-self: end;
    /* border-radius: 10px; */
    
}


.thoughts-header {
    display: flex;
    grid-column: 2;
    grid-row: 2;
    background-color:  rgb(243, 235, 126);
    /* margin: 5px; */
    font-size: 5.7vmin;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-family: 'Questrial', sans-serif;
}

.thoughts-subheader {
    grid-column: 2;
    grid-row: 3;
    
}

.project-subheader {
    height:.8rem;
    grid-row: 1;
    grid-column: 1/3;
    color: rgb(187, 40, 131);
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 8px;
    font-size: 2.2vmin;
    background-color: rgb(243, 235, 126);
    border-radius: 7px;
}

.page-body {
    grid-column: 2/4;
    grid-row: 3;
    background-color: rgb(187, 203, 249);
    width: 100%;
    overflow-y: auto;
    border-radius: 1rem;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  /* This is better for small screens, once min() is better supported */
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    grid-gap: 0rem;
    /* padding here should be the same size as margin in page-body div */
    padding: .3rem;
}

.romcom-body {
    grid-column: 2/4;
    grid-row: 3;
    background-color: rgb(187, 203, 249);
    width: 100%;
    overflow-y: auto;
    border-radius: 1rem;
    display: grid;
    grid-gap: 0rem;
    /* padding here should be the same size as margin in page-body div */
    padding: .3rem;
    font-family: 2rem;
}

.romcom-body > div {
    background: #eae2f7;
    border-radius: 1rem;
    padding: 1rem;
    margin: .3rem;
    width: auto;
}

.ranking-div {
    background: #f4ebc1;
    padding: top 1.5rem bottom 3rem;
    padding-left: .5rem;
    padding-right: 1.3rem;
    border-radius: 1rem;
    margin: .2rem;
    display: grid;
    grid-template-columns: 24% 24% 24% 28%;
    grid-template-rows: 63% 37%;
    font-size: 1.85vmin;
    gap: .2rem;
    float:left;
    margin-bottom: 1.5vmin;
    height: 56vh
}

.ranking-div > .review {
    grid-row: 1;
    grid-column: 1/4;
    background: #a0c1b8;
    border-radius: 1rem;
    margin: .3rem;
    padding: .6rem;
    padding-bottom: 1rem;
    font-size: 1.85vmin;
    margin-top: 1rem;
    
} 

.ranking-div > .rating1 {
    grid-row: 2;
    grid-column: 1;
    background: #b8b4ff;
    border-radius: 1rem;
    margin: .3rem;
    padding: .6rem;
    margin-bottom: 1rem;
}

.ranking-div > .rating2 {
    grid-row: 2;
    grid-column: 2;
    background: #ffa77f;
    border-radius: 1rem;
    margin: .3rem;
    padding: .6rem;
    margin-bottom: 1rem;
}

.ranking-div > .rating3 {
    grid-row: 2;
    grid-column: 3;
    background: #b5dce5;
    border-radius: 1rem;
    margin: .3rem;
    padding: .6rem;
    margin-bottom: 1rem;
}

.ranking-div > .rating-image{
    grid-row: 1/3;
    grid-column: 4;
    text-align: center;
    padding-top: 2vmin;
} 

.inner-rating-image{
    max-width:100%;
    max-height:100%;
    object-fit: cover;
    border-radius: 1rem;
    vertical-align: middle;
} 




.projects-page-body {
    grid-column: 2/4;
    grid-row: 3;
    background-color: rgb(187, 203, 249);
    width: 100%;
    overflow-y: auto;
    border-radius: 1rem;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  /* This is better for small screens, once min() is better supported */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0rem;
    /* padding here should be the same size as margin in page-body div */
    padding: .3rem;
}

h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .25vh;
}

.subtitle {
    margin-top: 3vh;
    margin-bottom: 2vh; 
}

.project-div {
    background: #eae2f7;
    padding-left: .5rem;
    padding-right: 1rem;
    border-radius: 1rem;
    margin: .3rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 50% 5% 35%;
    gap: .7rem;
    word-wrap: break-word;

} 

.project-desc {
    text-align: center;
    grid-row: 4;
    grid-column: 1/3;
    font-size: 1vmin;
    padding: .1rem;
    /* margin-bottom: .2rem; */
}

.button-wrapper-1 {
    grid-row: 3;
    grid-column: 1;
    margin: 5px;
}

.button-wrapper-2 {
    grid-row: 3;
    grid-column: 2;
    margin: 5px;
}

.button-wrapper-3 {
    grid-row: 3;
    grid-column: 1/3;
    margin: 5px;
    text-align: center;
}

input {
    width: 6rem;
    display:block;
    margin: 1px auto;
}

.project-div:hover {
    background-color: rgb(203, 222, 235);
}

.project-image {
    width: 100%;
    grid-row: 2;
    grid-column: 1/3;
    text-align: center;
}

.inner-project-image{    
    max-width:100%;
    max-height:100%;
    object-fit: cover;
}

.button {
    background-color: rgb(187, 40, 131);;
    border-radius:6px;
    color: rgb(243, 235, 126);
    font-size:2vmin;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    border:none;
}

.button:hover {
    background-color: rgb(172, 84, 138);
}

.co-page-body {
    grid-column: 2/4;
    grid-row: 3;
    background-color: rgb(187, 203, 249);
    width: 100%;
    border-radius: 1rem;
    display: flex;
}

.co-page-body-inner {
    overflow-y: auto;
    background-color: #eae2f7;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    justify-content: center;
}

.page-body > div {
    background: #eae2f7;
    border-radius: 1rem;
    padding: 1rem;
    margin: .3rem;
}


.nav {
    align-content: center;
    list-style-type: none;
    margin: 5px;
    padding: 0;
    color: rgb(187, 40, 131);
    text-align: center;
    overflow: hidden;
    width: 100%;
    font-size: 17px;
    /* border-radius: 10px; */
}

.nav .firstchild{
    border-radius: 8px 0 0 8px;
}

.nav .lastchild {
    border-radius: 0 8px 8px 0;
}

.nav li {
    background-color: rgb(187, 203, 249);
    float: left;
    padding: 6px 3px;
    width: 70px;
    display: table;
    justify-self: center;
    
}

.name {
    font-size: 5vmin;
    grid-column: 1;
    grid-row: 6;
}

.subtitle {
    font-size: 2.2vmin;
    grid-column: 1;
    grid-row: 7;
    color: rgb(187, 40, 131);

}


li a {
    display: block;
    text-align: center;
    color:inherit;
    text-decoration: none;


}

li:hover{
    background-color: rgb(203, 222, 235);
}


.thoughts-list {
    list-style-type: none;
}

.profile-pic {
    border-radius: 1rem;
    grid-row: 1/6;
    max-width:100%;
    max-height:100%;
    /* object-fit: contain; */
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 40%;
    background-color: rgb(243, 235, 126);
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
  }